<!DOCTYPE html>
<!-- saved from url=(0064)http://demo.xpeedstudio.com/html/fitset/square-service.html -->
<html class="no-js" lang="zxx">
<!--<![endif]-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Fitset - Edmonton's Multi Studio Fitness Pass</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="apple-touch-icon" href="http://demo.xpeedstudio.com/html/fitset/apple-touch-icon.png">
  <!-- <link href="/css/css" rel="stylesheet"> -->
  <link rel="icon" type="image/png" href="http://demo.xpeedstudio.com/html/fitset/favicon.ico">

  <!-- Bootstrap.css -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <!-- Date pixker -->
  <link rel="stylesheet" href="/css/bootstrap-datepicker.min.css">
  <!-- Font awesome -->
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <!-- XS Icon -->
  <link rel="stylesheet" href="/css/xs-icon.css">
  <!-- Owl slider -->
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <!-- Isotope -->
  <link rel="stylesheet" href="/css/isotope.css">
  <!-- magnific-popup -->
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <!--For Plugins external css-->
  <link rel="stylesheet" href="/css/plugins.css">

  <!--Theme custom css -->
  <link rel="stylesheet" href="/css/style.css">

  <!--Theme Responsive css-->
  <link rel="stylesheet" href="/css/responsive.css">
  <style type="text/css"></style>


  <!-- <script type="text/javascript" charset="UTF-8" src="/js/common.js"></script>
  <script type="text/javascript" charset="UTF-8" src="/js/util.js"></script>
  <script type="text/javascript" charset="UTF-8" src="/js/stats.js"></script> -->
  <!-- <script type="text/javascript" charset="UTF-8" src="/css/AuthenticationService.Authenticate"></script> -->
</head>

<body class="layoutcolor-default">



  <!-- Main menu -->

  <!-- Main menu closed -->

  <!-- Inner welcome -->

  <!-- .fitset-inner-welocme-section END -->
  <!-- Inner welcome end -->
  <!-- fitset square service section -->

  <!-- .fitset-square-service-section END -->
  <section class="fitset-service-section section-padding">
    <div class="container">
      <div class="fitset-tab">
        <div class="tabbable">
          <%- defineContent('mainNav') %>
          
          <div class="tab-content">
              <%- defineContent('body') %>            
          </div>
        </div>
        <!-- .tabbable END -->
      </div>
      <!-- .fitset-tab END -->
    </div>
  </section>

  <script src="/js/jquery-3.2.1.min.js"></script>
  <script src="/js/plugins.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/bootstrap-datepicker.min.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/jquery.ajaxchimp.min.js"></script>
  <script src="/js/owl.carousel.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/appear.js"></script>
  <script src="/js/spectragram.min.js"></script>
  <script src="/js/main.js"></script>

</body>

</html>
