<%- contentFor('mainNav') %>
  <div class="owl-carousel owl-theme" id="api-activities">    
  </div>
  <%- contentFor('body') %>
    <div class="tab-menu">
      <ul id="api-locations">
        
      </ul>
    </div>
    <div class="tab-detail">
        <div id="mapid"></div>
    </div>

    <%- contentFor('js') %>
      <script type="text/javascript" src="/js/api.js"></script>