<%- contentFor('mainNav') %>
<ul class="nav nav-tabs fitset-top-nav">
    <li class="active"><a href="#Yoga" data-toggle="tab"><i class="xsicon icon-massage"></i><span>Yoga</span></a></li>
    <li><a href="#Pilates" data-toggle="tab"><i class="xsicon icon-massage"></i><span>Pilates</span></a></li>
    <li><a href="#Zumba" data-toggle="tab"><i class="xsicon icon-massage"></i><span>Zumba</span></a></li>
    <li><a href="#Swimming" data-toggle="tab"><i class="xsicon icon-massage"></i><span>Swimming</span></a></li>
    <li><a href="#nail" data-toggle="tab"><i class="xsicon icon-massage"></i><span>Sculpt</span></a></li>
    <li><a href="#Rowing" data-toggle="tab"><i class="xsicon icon-massage"></i><span>Rowing</span></a></li>
</ul>
<%- contentFor('body') %>
<div class="tab-pane active" id="Yoga">
  <div class="tabbable">
    <ul class="nav nav-tabs fitset-side-nav">
      <li class="active"><a href="#mens_Zumba" data-toggle="tab">Men's Yoga</a></li>
      <li><a href="#women_Yoga" data-toggle="tab">Women's Yoga</a></li>
      <li><a href="#child_Yoga" data-toggle="tab">Children's Yoga</a></li>
      <li><a href="#teens_Yoga" data-toggle="tab">Teen's Yoga</a></li>
      <li><a href="#layer_Yoga" data-toggle="tab">Layer Yoga</a></li>
      <li><a href="#stylish_Yoga" data-toggle="tab">Stylish Yoga</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane fitset-tab-content active" id="mens_Yoga">
        <div class="fitset-spilit-container">
          <div class="fitset-tab-image">
            <img src="img/service-tab-img-1.jpg" alt="Image">

          </div>
          <div class="fitset-tab-text-content">
            <h3>Men's Yoga</h3>
            <p> It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
            <p> A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there</p>
            <div class="fitset-btn-wraper">
              <a href="#" class="xs-btn round-btn box-shadow-btn bg-color-purple">Book Class <span style="top: -3.90625px; left: 93.7031px;"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- #mens_Yoga END -->

      <div class="tab-pane fitset-tab-content" id="women_Yoga">
        <div class="fitset-spilit-container">
          <div class="fitset-tab-image">
            <img src="img/service-tab-img-2.jpg" alt="Image">
            <div class="fitset-tab-image-content">

            </div>
          </div>
          <div class="fitset-tab-text-content">
            <h3>Women's Yoga</h3>
            <p> It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
            <p> A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there</p>
            <div class="fitset-btn-wraper">
              <a href="#" class="xs-btn round-btn box-shadow-btn bg-color-purple">Book Class <span style="top: -3.90625px; left: 93.7031px;"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- #women_Yoga END -->

      <div class="tab-pane fitset-tab-content" id="child_Yoga">
        <div class="fitset-spilit-container">
          <div class="fitset-tab-image">
            <img src="img/service-tab-img-3.jpg" alt="Image">
            <div class="fitset-tab-image-content">

            </div>
          </div>
          <div class="fitset-tab-text-content">
            <h3>Children's Yoga</h3>
            <p> It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
            <p> A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there</p>
            <div class="fitset-btn-wraper">
              <a href="#" class="xs-btn round-btn box-shadow-btn bg-color-purple">Book Class <span style="top: -3.90625px; left: 93.7031px;"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- #child_Yoga END -->

      <div class="tab-pane fitset-tab-content" id="teens_Yoga">
        <div class="fitset-spilit-container">
          <div class="fitset-tab-image">
            <img src="img/service-tab-img-4.jpg" alt="Image">
            <div class="fitset-tab-image-content">

            </div>
          </div>
          <div class="fitset-tab-text-content">
            <h3>Teen's Yoga</h3>
            <p> It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
            <p> A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there</p>
            <div class="fitset-btn-wraper">
              <a href="#" class="xs-btn round-btn box-shadow-btn bg-color-purple">Book Class <span style="top: -3.90625px; left: 93.7031px;"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- #teens_Yoga END -->

      <div class="tab-pane fitset-tab-content" id="layer_Yoga">
        <div class="fitset-spilit-container">
          <div class="fitset-tab-image">
            <img src="/img/service-tab-img-5.jpg" alt="Image">
            <div class="fitset-tab-image-content">

            </div>
          </div>
          <div class="fitset-tab-text-content">
            <h3>Layer Yoga</h3>
            <p> It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
            <p> A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there</p>
            <div class="fitset-btn-wraper">
              <a href="#" class="xs-btn round-btn box-shadow-btn bg-color-purple">Book Class <span style="top: -3.90625px; left: 93.7031px;"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- #layer_Yoga END -->

      <div class="tab-pane fitset-tab-content" id="stylish_Yoga">
        <div class="fitset-spilit-container">
          <div class="fitset-tab-image">
            <img src="img/service-tab-img-6.jpg" alt="Image">
            <div class="fitset-tab-image-content">

            </div>
          </div>
          <div class="fitset-tab-text-content">
            <h3>Stylish Yoga</h3>
            <p> It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower arm towards the viewer. </p>
            <p> A collection of textile samples lay spread out on the table - Samsa was a travelling salesman - and above it there</p>
            <div class="fitset-btn-wraper">
              <a href="#" class="xs-btn round-btn box-shadow-btn bg-color-purple">Book Class <span style="top: -3.90625px; left: 93.7031px;"></span></a>
            </div>
          </div>
        </div>
      </div>
      <!-- #stylish_Yoga END -->
    </div>
    <!-- .tab-content END -->
  </div>
</div>